#https://projectlombok.org/features/

config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.addNullAnnotations = jakarta

lombok.var.flagUsage = error
lombok.val.flagUsage = error

lombok.log.log4j.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.apacheCommons.flagUsage = error
